<div class="container">
    <div class="row align-items-center">
        <div class="col-md-3 col-sm-6 my-3">
            <a href="#!"><img class="img-fluid img-brand d-block mx-auto" src="static/assets/img/logos/comelon-la.png" alt="..." aria-label="Comelon Los Angeles Logo" /></a>
        </div>
        <div class="col-md-3 col-sm-6 my-3">
            <a href="#!"><img class="img-fluid img-brand d-block mx-auto" src="static/assets/img/logos/good-apetite.png" alt="..." aria-label="Good Apetite Logo" /></a>
        </div>
        <div class="col-md-3 col-sm-6 my-3">
            <a href="#!"><img class="img-fluid img-brand d-block mx-auto" src="static/assets/img/logos/testing-table.png" alt="..." aria-label="Testing Table Logo" /></a>
        </div>
        <div class="col-md-3 col-sm-6 my-3">
            <a href="#!"><img class="img-fluid img-brand d-block mx-auto" src="static/assets/img/logos/foo-la-69.png" alt="..." aria-label="IBM Logo" /></a>
        </div>
    </div>
</div>