<div class="container">
    <div class="text-center">
        <h2 class="section-heading text-uppercase">Restaurant Staff</h2>
        <h3 class="section-subheading text-muted">Our restaurant is a symphony of flavors, conducted by four exceptional chefs, each possessing distinct talents and refined tastes. From culinary innovators to traditionalists, they unite to create a culinary experience that will tantalize your taste buds.</h3>
    </div>
    <div class="row">
        <div class="col-lg-3">
            <div class="team-member">
                <img class="mx-auto rounded-circle" src="static/assets/img/team/by-catch-inspector.jpg" alt="..." />
                <h4>By Catch Inspector</h4>
                <p class="">Bounty Hunter</p>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="team-member">
                <img class="mx-auto rounded-circle" src="static/assets/img/team/richard-pizza.jpg" alt="..." />
                <h4>Richard Pizza, ESQ</h4>
                <p class="">My Attorney</p>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="team-member">
                <img class="mx-auto rounded-circle" src="static/assets/img/team/space-lasers.jpg" alt="..." />
                <h4>Space Lazers</h4>
                <p class="">Restaurateur</p>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="team-member">
                <img class="mx-auto rounded-circle" src="static/assets/img/team/chombo-master.jpg" alt="..." />
                <h4>Chombo Master</h4>
                <p class="">Maintenance Man</p>
            </div>
        </div>    
    </div>
    <div class="row">
        <!-- <div class="col-lg-8 mx-auto text-center"><p class="large text-muted"></p></div> -->
    </div>
</div>