<div class="container">
    <div class="text-center">
        <h2 class="section-heading text-uppercase">Our Story</h2>
        <h3 class="section-subheading"></h3>
    </div>
    <ul class="timeline">
        <li>
            <div class="timeline-image"><img class="rounded-circle img-fluid" src="static/assets/img/about/jabbas-palace.jpg" alt="..." /></div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h4>2010-2012</h4>
                    <h4 class="subheading">Our Humble Beginnings</h4>
                </div>
                <div class="timeline-body"><p class="">Taking full advantage of the cotage laws, Fake Ass Restaurant starts out of Space Lazer's apartment.</p></div>
            </div>
        </li>
        <li class="timeline-inverted">
            <div class="timeline-image"><img class="rounded-circle img-fluid" src="static/assets/img/about/greatest-jong-player.jpg" alt="..." /></div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h4>December 2013</h4>
                    <h4 class="subheading">The Greatest Jewish Mahjong Player is Discovered</h4>
                </div>
                <div class="timeline-body"><p class="">On Christmas Day, the official end of year Han Chan is played and a new champion is crowned.</p></div>
            </div>
        </li>
        <li>
            <div class="timeline-image"><img class="rounded-circle img-fluid" src="static/assets/img/about/far-new-location.jpg" alt="..." /></div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h4>December 2014</h4>
                    <h4 class="subheading">A New Location</h4>
                </div>
                <div class="timeline-body"><p class="">Lazers establishes the new permanent home for Fake Ass Restaurant. By Catch Inspector joins the staff.</p></div>
            </div>
        </li>
        <li class="timeline-inverted">
            <div class="timeline-image"><img class="rounded-circle img-fluid" src="static/assets/img/about/far-waygu.jpg" alt="..." /></div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h4>July 2022</h4>
                    <h4 class="subheading">The Waygu</h4>
                </div>
                <div class="timeline-body"><p class="">Fake Ass Restaurant raises it's quality standards once again, and introduces the Waygu as the standard to beat.</p></div>
            </div>
        </li>
        <li>
            <div class="timeline-image"><img class="rounded-circle img-fluid" src="static/assets/img/about/new-challengers.jpg" alt="..." /></div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h4>2023</h4>
                    <h4 class="subheading">New Challengers Arrive</h4>
                </div>
                <div class="timeline-body"><p class="">The 30th Ranked Player in New York tests his stills against the best that Gardena has to offer.</p></div>
        </li>
        <li class="timeline-inverted">
            <div class="timeline-image"><img class="rounded-circle img-fluid" src="static/assets/img/about/best-coast.jpg" alt="..." /></div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h4>2024</h4>
                    <h4 class="subheading">Best Coast Supremacy</h4>
                </div>
                <div class="timeline-body"><p class="">New York Fails to Send it's Champion.</p></div>
        </li>
    </ul>
</div>