<div class="container">
    <div class="text-center">
        <h2 class="section-heading text-uppercase">The Fake Ass Restaurant Experience</h2>
        <h3 class="section-subheading fs-5">Join us for an exquisite dining experience where culinary excellence takes center stage. </h3>
    </div>
    <div class="row text-center">
        <div class="col-md-4">
            <span class="fa-stack fa-4x">
                <i class="fas fa-circle fa-stack-2x text-primary"></i>
                <i class="fas fa-utensils fa-stack-1x fa-inverse"></i>
            </span>
            <h4 class="my-3">Food</h4>
            <p class="">The finest cuts of meat, and fresh veg prepared by an ecclectic collection of Chefs.</p>
        </div>
        <div class="col-md-4">
            <span class="fa-stack fa-4x">
                <i class="fas fa-circle fa-stack-2x text-primary"></i>
                <i class="fas fa-solid fa-wine-bottle fa-stack-1x"></i>
            </span>
            <h4 class="my-3">Drinks</h4>
            <p class="">The Official Sponsor. Always Cold. Occassionally, exploding cans of lesser sponsors.</p>
        </div>
        <div class="col-md-4">
            <span class="fa-stack fa-4x">
                <i class="fas fa-circle fa-stack-2x text-primary"></i>
                <i class="fas fa-solid fa-dice fa-stack-1x"></i>
                <!-- <i class="fas fa-lock fa-stack-1x fa-inverse"></i> -->
            </span>
            <h4 class="my-3">Gambling</h4>
            <p class="">Come for the Waygu. Wash it down with the Official Sponsor. Stick around for a Han-Chan.</p>
        </div>
    </div>
</div>